.title {
  text-align: center;
  border: 3px solid black;
}

.contents ul {
  font: 20px solid black;
  border: 1px solid black;
  margin: 25px;
  margin-left: 50px;
  margin-right: 50px;
}

.contents a {
  text-decoration: none;
}

.contents a:hover {
  color: blue;
}
